.top-container {
  background-color: #E4F9F5;
  padding-top: 100px;

}
hr{
    border-style: none;
    height: 00px;
    width: 4.75%;
    border-top-style: dotted;
    border-color: lightgrey;
    border-top-width: 7px;
    margin: 70px auto;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 1em;

}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}

h2 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font-size: 2.5rem;
  margin-top: 0;
  color: #66BFBF;
}

h3 {
  color: #11999E;
}
a{
  color: #11999E;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bolder;
  margin-top: 0px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}
a:hover{
  color: white;
}
p {

  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}

.pro {
  text-decoration: underline;
}

.first-img {
  position: absolute;
  right: 300px;
  top: 60px;
}

/*
img{
  position: relative;
   mmm


  left: 30px;
  bottom: 10px;
}
*/
.mountain {
  text-align: center;
  position: relative;
}

.bottom-cloud {
  position: absolute;
}

.arya-img:hover {
  background: linear-gradient(to left, #00FFEC, lightyellow 50%, #FF9200 100%);
  border-radius: 100%;
  width: 200px;
  height: 200px;
}

.computer-img {
  border-radius: 100%;
}

.code {
  width: 35%;
  float: left;
  margin-right: 30px;
}

.react {
  margin-left: 30px;
  width: 27%;
  float: right;
}


.angular {
  margin-left: 30px;
  margin-right: 30px;
  width: 25%;

}

.node {
  margin-left: 30px;
  margin-right: 30px;
  width: 25%;

}

.code-it {
  width: 50px;
  height: 50px;
  margin: 0
}

.padding-div {
  padding-top: 60px;
}
.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}
.contact-me{
  width: 50%;
  margin: 100px auto 50px auto;
}
.bottom-container{
 background-color: #66BFBF;
 margin-top: 135px;
 padding: 30px
}
.copyright2021{
  padding-top: 20px;
  font-size: 20px;
}
.last-para{
  margin-bottom: 0;
}
.BUTTON_ZBV {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   font-weight: 560;
   padding: 10px;
   border: solid #66BFBF 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_ZBV:hover {
   border: solid #66BFBF 1px;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   text-decoration: none;
}
